<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/bootswatch/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="/css/{{style}}.css">
    <script src="https://kit.fontawesome.com/b393a4af69.js" crossorigin="anonymous"></script>
    <script defer src="/jquery/jquery.min.js"></script>
    <script defer src="/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="/js/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Pet Rescue</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    {{{body}}}
</body>

</html>